@import "tailwindcss";
@plugin "@tailwindcss/forms";
@plugin "@tailwindcss/typography";
@plugin "daisyui" {
  themes: all;
}

@layer components {
  .badge {
    line-height: 1.2;
    vertical-align: middle;
  }
}
